[submodule "externals/VTK"]
	path = externals/VTK
	url = https://github.com/Kitware/VTK.git
[submodule "externals/boost"]
	path = externals/boost
	url = https://github.com/boostorg/boost.git
[submodule "externals/dcmtk"]
	path = externals/dcmtk
	url = https://github.com/DCMTK/dcmtk.git
[submodule "externals/ITK"]
	path = externals/ITK
	url = https://github.com/InsightSoftwareConsortium/ITK.git
